@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
body {
    background-color: #323a42;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
h1 {
    color: #f5f7fa;
    text-align: center;
    font-size: 400%;
}
span {
    font-size: 200%;
    font-weight: bold;
    color: #1e1f22;
    padding: .3em;
    border-radius: 50%;
    height: auto;
    width: 1.2em;
    text-align: center;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas: "item1 item1 item2 item3 item4" "item1 item1 item2 item5 item5" "item6 item7 item7 item5 item5";
    margin: 0 auto;
    height: 100vh;
    width: 80%;
    justify-content: center;
    align-content: center;
}
.grid-1 {
    display: flex;
    grid-area: item1;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.grid-2 {
    display: flex;
    grid-area: item2;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.grid-3 {
    display: flex;
    grid-area: item3;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #94ffd3 0%, #f9f887 100%);
}
.grid-4 {
    display: flex;
    grid-area: item4;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #e9befb 0%, #e26576 100%);
}
.grid-5 {
    display: flex;
    grid-area: item5;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.grid-6 {
    display: flex;
    grid-area: item6;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #d5b9f1 0%, #1e558c 100%);
}
.grid-7 {
    display: flex;
    grid-area: item7;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-20deg, #03b195 0%, #e5f9f8 100%);
}